*{
   margin: 100;
}
#A{
    color: rgb(222, 18, 147);
    text-align: center;
    background-color: rgb(239, 236, 236);
}
body{
    border: 10px solid white; 
    padding: 100px; 
    margin: 0; 
    background-color: #f0f0f0;
    
    background-color: rgb(192, 152, 192) ;
}
#B{
    background-color: rgba(234, 155, 193, 0.905);
    width : 50%;
}
#personal_details{
    display: flex;
    justify-content: space-between;
}
#heading{
    text-align: center;
    font-size:xx-large;
    color: crimson;
}

#review{
    text-align: center;
    font-size: large;
    color:blueviolet
}
#buttons{
    background-color: #ff69b4;  
    color: rgb(61, 162, 38);               
    border:0lvh;               
    padding: 15px 30px;        
    font-size: 25px;            
    border-radius: 15px;         
    cursor:grab;          
    transition: background-color 0.5s ease-out; 
}
#whyme{
    text-align: center;
    color: red;
}
.sonakshi{
    
        display: inline-block;
    
}
